* {
    margin: 0;
    padding: 0;
}
header {
    display: block;
    text-align: center;
    height: 44px;
    line-height: 44px;
    background: #ED4832 ;
    color: white;
}
h3 {
    font-size: 1rem;
    font-weight: normal;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 0;
    display: block;
}
ul li {
    margin: 1rem 0 0 0;
    display: inline-block;
    text-align: center;
    width: 33.33%;
    font-size: 17px;
    overflow: hidden;
    position: relative;
}

ul li img {
    display: inline-block;
    margin: auto;
    width: 50%;
    height: auto;
    position: relative;
}
a {
    margin: 0;
    padding: 10px 0;
    position: relative;
    display: block;
    text-decoration: none;
}
a div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}
